.bayar{
  background-color: white;
  text-align: center;
}

header img {
  height: 380px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  background-color: #1d1d1d;
}

.form{
  background-color: white;
  width: 420px;
  border: 1px  solid black;
  padding: 50px;
  margin: auto;
}

.ucap{
  text-align: center;
}

.nomor{
  text-transform: capitalize;
  font-size: 20px;
  font-style: italic; 
}

.topup{
  width: 400px;
  border: 1px solid black;
  padding: 30px;
  margin: auto ;
}

.nomor{
  text-transform: capitalize;
  font-size: 20px;
  font-style: italic; 
  text-align: left;
}

.register{
  text-align: center;
}

.container{
  text-align: center;
  border: 1px solid black;
  padding: 40px;
}

.profile{
  background-color: white;
  width: 420px;
  border: 1px solid black;
  padding: 50px;
  margin: auto;
}
 
.faq

.footer {
  color: white;
}

.footer a {
  color: white;
}

